.dcontent{
    margin:auto;
    padding-bottom: 100px;
    background-color:#F6F5F5;
}

.dcontainer{
    margin:auto;
    max-width:1280px;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
}

.title {
    text-align: center;
    padding: 2rem 0;

}
.sub-top{padding:0 5rem 1rem 0; margin: auto; ;}
.col-7 img {width: 80%; vertical-align: middle; float: right; }
.col p {font-size: 15px;}
.sub{padding: 10px 20px; height: 100%;}
.sub .point{font-size: 25px;  font-weight: bold;}
.explain{margin-top:3rem; padding: 10px; background-color: #FAFAFA; border: 1px solid #EFEFEF;}
.ex1{padding-left: 1rem;}
.bar{margin-top: 2rem; width: 100%; background-color: white; font-size: 12px;}
.col-top{ width:50%;}

.bar i { font-size: 1.2rem;}
.col-3{float: right; margin-left: 10px;}

.threequater {
    padding:1rem;
    width:70%!important;
    float: left;
    background-color: white;
}
.quarter{
    width:30%;
    float: right;

}
.quarter p {font-size: 12px; line-height: 8px;}
.quarter h6 {margin: 1rem;}
.product{
    background-color: #fff;
    margin:10px 10px 30px 10px;
    padding: 1rem;
    box-shadow:0 0px 5px 0 rgba(0, 0, 0, 0.075);
}
.pro6 .btn{display:block;width:100%;}
.choice {font-size: 14px!important;}

.tabs {
    padding: 5px 0 5px 5.5rem;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #EFEFEF;
    border-top: 1px solid #EFEFEF;
    box-shadow:0 3px 5px 0 rgba(0, 0, 0, 0.014);
    background-color: white;
    }
.tabs div{margin: 10px; float: left; }
.tabs div a {text-decoration: none; color: #848484;}
.tabs div a:hover{color: rgb(82, 80, 80);}

.pd{margin-bottom:1rem;}

.tquater{
    background-color: white;
    padding:2rem;
    line-height: 2rem;
}
#ttabs {
    padding: 5px 0 5px 10rem;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #EFEFEF;
    border-top: 1px solid #EFEFEF;
    box-shadow:0 3px 5px 0 rgba(0, 0, 0, 0.014);
    background-color: white;
    }

.w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-item{background-color: white; cursor: pointer; text-align:center; border:1px solid #797878;}

.w3-padding{padding:8px 16px!important}

.w3-padding li{list-style: none; font-size: 16px; line-height: 3rem;font-weight: bold;}
